img {
    width:70px;
    height:100px;

    // &:hover{
    //     visibility: hidden;
    // }
}


.cardReset {
    // visibility: hidden; 
    background-color: yellow;
}

.my-class {
    background-color: red;
  }