img {
    width:70px;
    height:100px;

    // &:hover{
    //     visibility: hidden;
    // }
}

md-card{

    &:hover{
        bottom: 0.2em; //move up the hovered card
        background-color: yellow;
    }
}

.selectedCard {
    background-color: yellow;

}

.toggleCard {
    //display: none; 
    visibility:hidden;
}